* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.projectsec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.project {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1120px;
  height: 170px;
}

.project p {
  font-size: 22px;
  line-height: 32px;

}

.summer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: auto;
 
}


.summers {
  position: relative;
  width: 23%;
  height: auto;
}

.summers img {
  width: 100%;
}

.sum {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 120px;
  height: 40px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  

}

.aboutsec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.about {
  display: flex;
  width: 1120px;
  height: 180px;
  justify-content: left;
  flex-direction: column;
  gap: 20px;
}

#abt {
  font-size: 22px;
  line-height: 45px;
}

#texts {
  font-size: 16px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.imgall {
  display: flex;
  justify-content: center;
  gap: 14px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.imgone {
  position: relative;
  width: 23%;
  height: auto;

}

.imgone img {
  width: 100%;

}

.name {
  font-size: 24px;
  line-height: 40px;
}

.surname {
  font-size: 15px;
  line-height: 29px;
}

.cntct {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 30px;
  background-color: #c9bfbf;
  color: black;
  cursor: pointer;
}

.cntct:hover {
  background-color: #e7dcdc81;
}

@media screen and (min-width:300px) and (max-width:661px) {
  .summers {
    width: 100%;
  }
}

@media screen and (min-width:662px) and (max-width:991px) {
  .summers {
    width: 46%;
  }
}